<p id="notice"><%= notice %></p>

<!-- All Restaurants Section -->
<section class="content-section">
  <div class="all-section">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>You've tried</h2>
        </div>
      </div>
      <span class="toggler active" data-toggle="4"><span class="fa fa-th"></span></span>
      <span class="toggler" data-toggle="2"><span class="fa fa-bars"></span></span>
      <div class="restaurants__wrapper">
        <ul class="restaurant--grid" data-column="4">
          <% @lista.each do |restaurant| %>
           <li class="restaurant--column">
                <%= link_to restaurant_path(restaurant), :class => "restaurant__info" do %>
                  <div class="restaurant__info__image"><%= image_tag restaurant.asset.url(:medium) %></div>
                  <div class="restaurant__info__title"><%= h_rest_name(restaurant)["title"] %></div>
                  <div class="restaurant__info__slogan"><%=h_rest_name(restaurant)["slogan"] %></div>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div> 
    </div>
  </div>
</section>

