<p id="notice"><%= notice %></p>


<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @restaurant.asset.url if @restaurant.asset? %>
</p>

<% @restaurant.galleries.each do |gallery| %>
      <%= image_tag gallery.asset.url if gallery.asset? %>
 <% end %>

<br>
<a href="<%=@restaurant.link%>" target="_blank" ><%=@restaurant.link %> </a>
<p>
  <strong>chosen:</strong>
  <%= @restaurant.chosen %>
</p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<%= link_to 'Home', root_path %>
